@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.marquee {
    display: flex;
    overflow: hidden;
}

.marquee .content {
    animation: marquee 5s infinite linear;
    white-space: nowrap;
}
