@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: flex;
    overflow: hidden;
    position: relative;
}

.marquee .content {
    animation: marquee 5s infinite linear;
    white-space: nowrap;
}

.marquee .overlay {
    position: absolute;
    top: 0;
    height: 100%;
}

.marquee .leftOverLay {
    left: 0;
}

.marquee .rightOverLay {
    right: 0;
}